<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= countryItem.name %></h1>
    <h3>CCA3 Code:</h3>
    <%= countryItem.cca3_code %>
    <h2>Languages</h2>
    <% countryItem.languages.forEach( (lang) => { %>
      <li><%= lang.language %> (<%= lang.iso6393_code %>)</li>
    <% }) %>
  </body>
</html>
