<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= countryItem.name %></h1>
    <h3>CCA3 Code:</h3>
    <%= countryItem.cca3_code %>
    <h3>Capital:</h3>
    <%= countryItem.capital %>
    <h3>Continent:</h3>
    <%= countryItem.continent %>
  </body>
</html>
