<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <ul id="countries">
        <% countryList.forEach( (country) => { %>
            <li>
              <a href="/countries/<%= country.id %>">
                <%= country.name %>
              </a>
              (<%= country.cca3_code %>)
            </li>
        <% }); %>
    </ul>
  </body>
</html>
